.counter_inner {
    justify-content: center;
}

.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fff;
    color: #fff;
    i {
        font-size: 30px;
    }
    .count {
        padding: 8px 0px;
        span {
            font-size: 48px;
            font-family: Fira_Bold;
        }
    }
    .counter_title {
        font-size: 22px !important;
        font-family: Fira_Medium;
        text-transform: capitalize;
    }
}

// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
}
/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
}
/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}
/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
