footer{
    background: url('../img/footer/footer_bg.png') center center/cover no-repeat;
    position: relative;
    color: #fff;
    z-index: 1;
    padding-top: 95px;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #073857c0;
        z-index: -1;
    }
    .container{

        .top{
            padding-bottom: 12px;

            .col-6{
                &:nth-child(2) {
                   padding-left: 35px;
                }
            }
            .brand_logo{
                margin: 30px 0px;
            }
            .location_info{
                margin-bottom: 28px;
                .txt{
                    font-size: 16px;
                    line-height: 20px;
                    color: #fff;
                    text-transform: capitalize;
                    margin: 8px 0px;
                    @media(max-width: 576px) {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
            .socialIcon{
                display: flex;
                align-items: center;
                flex: 2;
                @media (max-width: 767px) {
                 margin-bottom: 10px;   
                }
                li{
                    margin: 0px 8px;
                    &:first-child{
                        margin-left: 0px;
                    }
                    a{
                        i{
                            color: #fff;
                            font-size: 24px;
                        }
                    }
                }
            }
            .head{
                .title{
                   font-size: 18px; 
                   line-height: 24px;
                   font-family: Fira_Bold;
                }
                li{
                    a{
                        color: #fff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .payment_system{
                    display: flex;
                    li{
                        margin: 0px 8px;
                        &:first-child{
                            margin-left: 0px;
                        }
                    }
                }
                .input_grp{
                    input{
                        padding: 5px 10px;
                        margin: 5px 0px;
                        background: transparent;
                        border: 1px solid #ddd;
                        @media (max-width: 576px) {
                            width: 170px;   
                        }
                        &::placeholder{
                            color: #fff;
                        }

                       &#email{
                           margin-bottom: 12px;
                       }
                    }
                }
            }
        }
        .bottom{
            border-top: 1px solid #ddd;
            padding: 16px;
            @media (max-width: 480px) {
                padding: 8px;
            }
            .policy{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-left: 0px !important;
                @media (max-width: 767px) {
                    justify-content: center;
                }
                li{
                    margin: 0px 12px;
                      @media(max-width: 480px) {
                            margin: 0px 6px;
                        }
                    &:first-child{
                        margin-left: 0px;
                    }
                    a{
                        color: #fff;
                        font-size: 14px;
                        @media(max-width: 480px) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}