#gallery {
    background-color: #f4fbff;
    .container {
        .filters {
            .mix {
                .content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    .img_overlay {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background-color: #cfae2c98;
                        overflow: hidden;
                        transition: all 0.2s linear;
                        visibility: hidden;
                        .misBtn {
                            position: absolute;
                            top: 50%;
                            left: 25%;
                            width: 50%;
                            padding: 5px;
                            cursor: pointer;
                            background: rgb(13, 73, 109);
                            background: linear-gradient(
                                90deg,
                                rgba(13, 73, 109, 1) 0%,
                                rgba(38, 143, 202, 1) 100%
                            );
                        }
                    }

                    &:hover {
                        .img_overlay {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .misBtn {
            text-transform: uppercase;
            font-family: Fira_Bold;
            background: rgb(210, 179, 45);
            background: linear-gradient(
                90deg,
                rgba(210, 179, 45, 1) 0%,
                rgba(242, 233, 51, 1) 100%
            );
        }
    }
}
