#request {
    background-color: #cfae2c;
    color: #fff;
    padding: 60px 0px;
    .container {
        .req_title {
            font-size: 30px;
            line-height: 34px;
            font-family: Fira_Bold;
            padding-bottom: 10px;
            color: #fff;
            @media (max-width: 576px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        .req_txt {
            font-size: 30px;
            line-height: 36px;
            padding-bottom: 15px;
            color: #fff;
            @media (max-width: 576px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        .misBtn {
            background: #fff;
            color: #cfae2c;
            text-transform: uppercase;
            font-family: Fira_semi_bold;
        }
    }
}

// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
}
/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
}
/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}
/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
