#Team {
    .container {
        .abt_self {
            .name {
                font-size: 36px;
                line-height: 38px;
                font-family: Fira_Medium;
                color: #073a59;
            }
            .post {
                font-size: 18px;
                line-height: 22px;
                color: #073a59;
            }
        }
    }
}
