#Team {
    .container {
        .abt_self {
            .name {
                font-size: 36px;
                line-height: 38px;
                font-family: Fira_Medium;
                color: #073a59;
            }
            .post {
                font-size: 18px;
                line-height: 22px;
                color: #073a59;
            }
        }
    }
}

// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
}
/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
}
/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}
/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
