.topbar {
    background: #073a59;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    &__column-one {
        color: #fff;
        flex: 1;

        span {
            margin: 0px 5px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }

    &__column-two {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        .socialIcon {
            display: flex;
            align-items: center;
            flex: 2;
            justify-content: flex-end;
            li {
                margin-right: 25px;
                a {
                    i {
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
        }
        .drop_user {
            display: flex;
            align-items: center;
            flex: 1;
            margin-left: 10px;
            justify-content: flex-end;
            position: relative;
            z-index: 9999999999;
            .user {
                i {
                    font-size: 30px;
                    color: #fff;
                }
            }
            .btn-group {
                position: relative;

                .dropdown-menu {
                    &.show {
                        transform: translate3d(-45px, 42px, 0px) !important;

                        @media (max-width: 1440px) {
                            left: -125px !important;
                        }
                    }
                }
            }
        }
    }
}

// Responsive
/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
    .topbar {
        &__cols {
            padding: 10px 0px;
        }
        &__column-one {
            .phn {
                text-align: center;
                margin: 5px 0px;
            }
        }
    }
}

/* === For Small Device ( 0px - 767px) == */
@include small {
}
/* === For Small Device ( 0px - 991px) == */
@include mx_medium {
    .topbar {
        &__column-one {
            display: flex;
            flex-direction: column;
        }
    }
}

/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}
/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
