#work {
    background-color: #fbfbfb;
    .container {
        .work_process {
            padding: 50px 0px;
            .title {
                font-size: 36px;
                line-height: 40px;
                font-family: Fira_Medium;
                padding: 12px 0px;
                color: #073a59;
                text-transform: capitalize;
                @media (max-width: 1400px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            .brief {
                font-size: 16px;
                line-height: 20px;
                color: #073a59;
            }
        }
    }
}

// Responsive
/* === For Small Device ( 0px - 767px) == */
@include small {
}
/* === For Extra small Device ( 320px - 575px) == */
@include ex_small {
}
/* === For Medium Device ( 768px - 1023px) == */
@include medium {
}
/* === For Large Device ( 1024px - 1200px) == */
@include large {
}
