*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    &:hover{
        @extend a;
    }
    &:focus{
        @extend a;
    }

}

.pr_50{
    padding-right: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}
button,
.btn{
    border: none;
    outline: none;
    &:hover{
        @extend button;
    }
    &:active{
        @extend button;
    }
    &:focus{
        @extend button;
    }
   
}
.slick-slide{
    outline: none;
}
.d_center{
    display: flex;
    justify-content: center;
}
.d_align_center{
   @media(max-width: 1200px) {
    display: flex;
    align-items: center;
   }
}
body{
    box-sizing: border-box;
    font-family: Fira_Regular;
    text-transform: capitalize;
}

.container{
    // max-width: 1440px;   
    @media (min-width:1400px) {
        max-width: 1440px;   
    }
}
// .container{
//     max-width: 1440px;   
//     @media (max-width:1200px) {
//         width: 95%;
//     }
// }
// Navbar toggler

.navbar-toggler{
    background-color: #073a59c7;
    color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    i{
        font-size: 24px;
        color: #ddd;
    }
}



// Slick dots
.slick-dots{
   position: absolute;
   display: flex;
   bottom: 25px;
   left: 50%;
   transform: translate(-50%,50%);
    li{
        margin: 0px 8px;
        font-size: 0px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #ecdf32;
        transition: all 0.4s linear;
        cursor:pointer;

        &.slick-active{
            background-color: #ecdf32;
            border: none;
        }
    }
}


#counter{
    &.bg{
       @media(max-width: 991px) {
        background: none;
        // background-color: #d2b22e !important;
        background-color: #073a59 !important;
       }
    }

    .counter-box{
        box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.219);
    }

    }


// dropdown toggle
.dropdown-toggle::after {
    border: 0;
    outline: none;
}
.fa-chevron-down{
    color: #ddd;
}

// Button
.misBtn{
   
    padding: 8px 16px;
    border-radius: 30px;
    background-color:#ecdf32 ;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    font-family: Fira_Medium;
    @media(max-width: 576px) {
        font-size: 12px;
    }
    &:hover{
        transform: translateY(5px);
        transform: all 0.4s linear;
        color: #fff;

    }
}

.section-head{
   justify-content: center;
   .sec-title{
       .title{
           font-size: 48px;
           text-transform: capitalize;
           font-family: Fira_Bold;
           color: #073a59;
           @media(max-width: 480px) {
               font-size: 36px;
               line-height: 40px;
           }
       }
       img{
          @media(max-width: 480px) {
            width: 250px;
          }
       }
       .sub_title{
           font-size: 30px;
           color: #073a59;
           font-family: Fira_Medium;
           margin: 8px 0px;
       }
   }
}

.sec-pad{
    padding: 52px 0px;
}
.flex{
   @media(max-width: 1200px) {
    display: flex;
    align-items: center;
   }
}

.bg{
    background: url('../img/banner/banner_2.png') center center/cover no-repeat;
    object-fit: contain;
    .container{
        .title{
            color: #ecdf32;
            text-transform: uppercase;
            font-size: 48px;
            @media(max-width: 576px) {
                font-size: 26px;
                line-height: 30px;
            }
        }
    }
}

.price_container{
    max-width: 920px;
    margin: auto;
}
/* =====top to bottom==== */
.top-btm {
    position: fixed;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    font-size: 1.75em;
    bottom: 2em;
    right: 2em;
    z-index: 999;
    color: #fff;
    background: #ecdf32;
    text-align: center;
    cursor: pointer;
    display: none;
    @media(max-width: 480px) {
        font-size: 24px;
        bottom: 3em;
        right: 1em;
    }
  }
  
  .top-btm:hover {
    background: #181818;
    transition: all 0.2s ease-in-out;
  }