@font-face{
    src: url("../fonts/FiraSans-Bold.ttf");
    font-family: Fira_Bold;
}
@font-face{
    src: url("../fonts/FiraSans-ExtraBold.ttf");
    font-family: Fira_Extra_Bold;
}
@font-face{
    src: url("../fonts/FiraSans-ExtraLight.ttf");
    font-family: Fira_ExtraLight;
}
@font-face{
    src: url("../fonts/FiraSans-Light.ttf");
    font-family: Fira_light;
}
@font-face{
    src: url("../fonts/FiraSans-Medium.ttf");
    font-family: Fira_Medium;
}
@font-face{
    src: url("../fonts/FiraSans-Regular.ttf");
    font-family: Fira_Regular;
}
@font-face{
    src: url("../fonts/FiraSans-SemiBold.ttf");
    font-family: Fira_semi_bold;
}
@font-face{
    src: url("../fonts/Lato-Bold.ttf");
    font-family: Lato_bold;
}
@font-face{
    src: url("../fonts/Lato-Regular.ttf");
    font-family: Lato_bold;
}
@font-face{
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: poppin_medium;
}
@font-face{
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: poppin_regular;
}
