@font-face {
  src: url("../fonts/FiraSans-Bold.ttf");
  font-family: Fira_Bold;
}

@font-face {
  src: url("../fonts/FiraSans-ExtraBold.ttf");
  font-family: Fira_Extra_Bold;
}

@font-face {
  src: url("../fonts/FiraSans-ExtraLight.ttf");
  font-family: Fira_ExtraLight;
}

@font-face {
  src: url("../fonts/FiraSans-Light.ttf");
  font-family: Fira_light;
}

@font-face {
  src: url("../fonts/FiraSans-Medium.ttf");
  font-family: Fira_Medium;
}

@font-face {
  src: url("../fonts/FiraSans-Regular.ttf");
  font-family: Fira_Regular;
}

@font-face {
  src: url("../fonts/FiraSans-SemiBold.ttf");
  font-family: Fira_semi_bold;
}

@font-face {
  src: url("../fonts/Lato-Bold.ttf");
  font-family: Lato_bold;
}

@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: Lato_bold;
}

@font-face {
  src: url("../fonts/Poppins-Medium.ttf");
  font-family: poppin_medium;
}

@font-face {
  src: url("../fonts/Poppins-Regular.ttf");
  font-family: poppin_regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0px;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.pr_50 {
  padding-right: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

button, button:hover,
.btn:hover, button:active,
.btn:active, button:focus,
.btn:focus,
.btn {
  border: none;
  outline: none;
}

.slick-slide {
  outline: none;
}

.d_center {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .d_align_center {
    display: flex;
    align-items: center;
  }
}

ol,
ul {
  padding-left: 0px !important;
}

body {
  box-sizing: border-box;
  font-family: Fira_Regular;
  text-transform: capitalize;
}

.custom-select {
  background: none !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

.navbar-toggler {
  background-color: #073a59c7;
  color: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
}

.navbar-toggler i {
  font-size: 24px;
  color: #ddd;
}

.slick-dots {
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.slick-dots li {
  margin: 0px 8px;
  font-size: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ecdf32;
  transition: all 0.4s linear;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background-color: #ecdf32;
  border: none;
}

@media (max-width: 991px) {
  #counter.bg {
    background: none;
    background-color: #073a59 !important;
  }
}

#counter .counter-box {
  box-shadow: 0px 10px 10px 8px rgba(0, 0, 0, 0.219);
}

.dropdown-toggle::after {
  border: 0;
  outline: none;
}

.fa-chevron-down {
  color: #ddd;
}

.misBtn {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #ecdf32;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  font-family: Fira_Medium;
}

@media (max-width: 576px) {
  .misBtn {
    font-size: 12px;
  }
}

.misBtn:hover {
  transform: translateY(5px);
  transform: all 0.4s linear;
  color: #fff;
}

.section-head {
  justify-content: center;
}

.section-head .sec-title .title {
  font-size: 48px;
  text-transform: capitalize;
  font-family: Fira_Bold;
  color: #073a59;
}

@media (max-width: 480px) {
  .section-head .sec-title .title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .section-head .sec-title img {
    width: 250px;
  }
}

.section-head .sec-title .sub_title {
  font-size: 30px;
  color: #073a59;
  font-family: Fira_Medium;
  margin: 8px 0px;
}

.sec-pad {
  padding: 52px 0px;
}

@media (max-width: 1200px) {
  .flex {
    display: flex;
    align-items: center;
  }
}

.bg {
  background: url("../img/banner/banner_2.png") center center/cover no-repeat;
  object-fit: contain;
}

.bg .container .title {
  color: #ecdf32;
  text-transform: uppercase;
  font-size: 48px;
}

@media (max-width: 576px) {
  .bg .container .title {
    font-size: 26px;
    line-height: 30px;
  }
}

.price_container {
  max-width: 920px;
  margin: auto;
}

/* =====top to bottom==== */
.top-btm {
  position: fixed;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  font-size: 1.75em;
  bottom: 2em;
  right: 2em;
  z-index: 999;
  color: #fff;
  background: #ecdf32;
  text-align: center;
  cursor: pointer;
  display: none;
}

@media (max-width: 480px) {
  .top-btm {
    font-size: 24px;
    bottom: 3em;
    right: 1em;
  }
}

.top-btm:hover {
  background: #181818;
  transition: all 0.2s ease-in-out;
}

.topbar {
  background: #073a59;
}

.topbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

@media (max-width: 575px) {
  .topbar__content {
    flex-direction: column;
  }
}

.topbar__column-one {
  color: #fff;
  flex: 1;
}

.topbar__column-one span {
  margin: 0px 5px;
}

.topbar__column-one span:first-child {
  margin-left: 0px;
}

.topbar__column-two {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.topbar__column-two .socialIcon {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-end;
}

.topbar__column-two .socialIcon li {
  margin-right: 25px;
}

.topbar__column-two .socialIcon li a i {
  color: #fff;
  font-size: 18px;
}

.topbar__column-two .drop_user {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 10px;
  justify-content: flex-end;
  position: relative;
  z-index: 9999999999;
}

.topbar__column-two .drop_user .user i {
  font-size: 30px;
  color: #fff;
}

.topbar__column-two .drop_user .btn-group {
  position: relative;
}

.topbar__column-two .drop_user .btn-group .dropdown-menu.show {
  transform: translate3d(-45px, 42px, 0px) !important;
}

@media (max-width: 1440px) {
  .topbar__column-two .drop_user .btn-group .dropdown-menu.show {
    left: -125px !important;
  }
}

/* === For Extra small Device ( 320px - 575px) == */
@media (min-width: 320px) and (max-width: 575px) {
  .topbar__cols {
    padding: 10px 0px;
  }
  .topbar__column-one .phn {
    text-align: center;
    margin: 5px 0px;
  }
}

/* === For Small Device ( 0px - 767px) == */
/* === For Small Device ( 0px - 991px) == */
@media (max-width: 767px) {
  .topbar__column-one {
    display: flex;
    flex-direction: column;
  }
}

/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
.header {
  position: sticky;
  top: -10px;
  z-index: 9999;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.253);
}

@media (max-width: 1199px) {
  .header .navbar .container .navbar-collapse .navbar-nav {
    text-align: center;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item {
  position: relative;
  margin: 0px 12px;
}

@media (max-width: 1600px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item {
    margin: 0px 2px;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #073a59;
  transition: all 0.2s linear;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item:last-child {
  background-color: #073a59;
  border: none;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
  color: #ddd;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item:last-child::after {
  width: 0px;
  height: 0px;
}

@media (max-width: 1199px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item.active {
    background: #ddd;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item.active::after {
  width: 100%;
}

@media (max-width: 1199px) {
  .header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover {
    background-color: #ddd;
  }
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover:last-child {
  background-color: #073a59;
}

.header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #1b3872;
  font-family: Fira_Bold;
  text-transform: capitalize;
}

@media (max-width: 1199px) {
  .header .navbar .container .navbar-collapse .form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header .navbar .container .navbar-collapse .form-inline .form-control {
  border: none;
  background-color: transparent;
  outline: none;
}

@media (max-width: 1199px) {
  .header .navbar .container .navbar-collapse .form-inline .form-control {
    flex: 1;
  }
}

.header .navbar .container .navbar-collapse .form-inline .btn:hover {
  background-color: #073a59;
  color: #fff;
}

.banner {
  background: #1d4b67;
  background: linear-gradient(0deg, #1d4b67 29%, #06273c 91%);
  position: relative;
}

.banner__slider {
  padding: 160px 0px;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .banner__slider {
    padding: 90px 0px;
  }
}

.banner__content_text .bnnr_head {
  font-size: 48px;
  line-height: 58px;
  color: #f2e933;
  font-family: Fira_Bold;
  text-transform: uppercase;
  padding-bottom: 16px;
}

@media (max-width: 1024px) {
  .banner__content_text .bnnr_head {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .banner__content_text .bnnr_head {
    font-size: 32px;
    line-height: 42px;
  }
}

.banner__content_text .head_txt {
  font-size: 22px;
  line-height: 26px;
  color: #f2e933;
}

@media (max-width: 1024px) {
  .banner__content_text .head_txt {
    font-size: 18px;
    line-height: 2px;
  }
}

.banner__content_text .btns {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -5px;
}

.banner__content_text .btns li {
  margin: 0px 16px;
}

.banner__content_text .btns li:first-child {
  margin-left: 0px;
}

.banner__content_text .btns li button,
.banner__content_text .btns li .btn:hover,
.banner__content_text .btns li .btn:active,
.banner__content_text .btns li .btn:focus {
  text-transform: uppercase;
}

.banner__content_text .btns li button:hover,
.banner__content_text .btns li .btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #f2e933;
}

.banner__img-content img {
  max-width: 100%;
  height: auto;
}

/* === For Small Device ( 0px - 767px) == */
@media (max-width: 767px) {
  .banner__content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* === For Extra small Device ( 320px - 575px) == */
@media (min-width: 320px) and (max-width: 575px) {
  .banner .bnnr_head {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 16px;
    text-align: center;
  }
  .banner__content_text .head_txt {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#about {
  position: relative;
}

#about .container .abt-txt {
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}

@media (max-width: 767px) {
  #about .container .abt-txt {
    margin: 18px 0px !important;
  }
}

@media (max-width: 576px) {
  #about .container .abt-txt {
    font-size: 16px;
    text-align: left;
  }
}

#about .container .abt_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 767px) {
  #about .container .abt_img {
    justify-content: center;
  }
}

#about .container .abt_img img {
  position: relative;
}

#about .container .abt_img .content_img {
  position: relative;
}

#about .container .abt_img .img_overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.377);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about .container .abt_img .img_overlay .icon {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(50%, -25%);
}

#about .container .abt_img .img_overlay .icon i {
  font-size: 62px;
  color: #fff;
}

@media (max-width: 575px) {
  #about .container .abt_img iframe {
    width: 400px;
    padding: 0px 8px;
  }
}

@media (max-width: 480px) {
  #about .container .abt_img iframe {
    width: 300px;
    padding: 0px 8px;
  }
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#Team .container .abt_self .name {
  font-size: 36px;
  line-height: 38px;
  font-family: Fira_Medium;
  color: #073a59;
}

#Team .container .abt_self .post {
  font-size: 18px;
  line-height: 22px;
  color: #073a59;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#gallery {
  background-color: #f4fbff;
}

#gallery .container .filters .mix .content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gallery .container .filters .mix .content .img_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #cfae2c98;
  overflow: hidden;
  transition: all 0.2s linear;
  visibility: hidden;
}

#gallery .container .filters .mix .content .img_overlay .misBtn {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  padding: 5px;
  cursor: pointer;
  background: #0d496d;
  background: linear-gradient(90deg, #0d496d 0%, #268fca 100%);
}

#gallery .container .filters .mix .content:hover .img_overlay {
  visibility: visible;
}

#gallery .container .misBtn {
  text-transform: uppercase;
  font-family: Fira_Bold;
  background: #d2b32d;
  background: linear-gradient(90deg, #d2b32d 0%, #f2e933 100%);
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
.mix {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  position: relative;
  backface-visibility: hidden;
  /* prevents flicker in chrome */
  will-change: transform, opacity;
  /* prevents flicker in safari */
}

.mix:before {
  content: '';
  display: inline-block;
}

.filters {
  padding: 1rem;
  column-count: 5;
}

.gallery {
  margin: 60px 0px;
}

.gallery .controls {
  justify-content: space-between;
  margin: 0px;
}

.gallery .controls button,
.gallery .controls .btn:hover,
.gallery .controls .btn:active,
.gallery .controls .btn:focus {
  margin: 0px 12px;
  padding: 6px 20px;
  text-transform: uppercase;
  color: #073a59;
  border-radius: 5px;
  font-family: Fira_semi_bold;
  border: 2px solid #d2b32d;
}

@media (max-width: 1199px) {
  .gallery .controls button:last-child,
  .gallery .controls .btn:last-child:hover,
  .gallery .controls .btn:last-child:active,
  .gallery .controls .btn:last-child:focus {
    margin-top: 10px;
  }
}

.gallery .controls button.mixitup-control-active,
.gallery .controls .mixitup-control-active.btn:hover,
.gallery .controls .mixitup-control-active.btn:active,
.gallery .controls .mixitup-control-active.btn:focus {
  background: #d2b32d;
  background: linear-gradient(90deg, #d2b32d 0%, #f2e933 100%);
  color: #fff;
  border: none;
}

@media (max-width: 991px) {
  .gallery .controls button,
  .gallery .controls .btn:hover,
  .gallery .controls .btn:active,
  .gallery .controls .btn:focus {
    margin: 6px 0px;
  }
}

/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
@media screen and (min-width: 320px) {
  .filters {
    column-count: 2;
  }
}

/* 3 Columns */
@media screen and (min-width: 541px) {
  .filters {
    column-count: 3;
  }
}

/* 4 Columns */
@media screen and (min-width: 961px) {
  .filters {
    column-count: 4;
  }
}

/* 5 Columns */
@media screen and (min-width: 1281px) {
  .filters {
    column-count: 5;
  }
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#services {
  position: relative;
}

#services .our_service {
  object-fit: contain;
  height: 440px;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  #services .our_service {
    height: auto;
    margin: 20px 0px;
  }
}

#services .our_service.img_pro {
  background: url("../img/service/HomePage--MISDAN-1410px.png") right no-repeat;
}

#services .our_service.graphics_pro {
  background: url("../img/service/service_2.png") left no-repeat;
}

#services .our_service.web_pro {
  background: url("../img/service/service_3.png") right no-repeat;
}

#services .our_service.video_pro {
  background: url("../img/service/service_4.png") left no-repeat;
}

#services .our_service.bg_size {
  background-size: 670px;
}

@media (max-width: 1350px) {
  #services .our_service.bg_size {
    background-size: 550px;
  }
}

@media (max-width: 1024px) {
  #services .our_service.bg_size {
    background-size: 450px;
  }
}

@media (min-width: 768px) and (max-width: 875px) {
  #services .our_service.bg_size {
    background-size: 380px;
  }
}

@media (max-width: 767px) {
  #services .our_service.bg_size {
    background: none;
  }
}

#services .our_service .s-box .title {
  font-size: 36px;
  line-height: 40px;
  color: #073a59;
  font-family: Fira_Bold;
  padding-bottom: 16px;
}

#services .our_service .s-box .txt {
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  #services .our_service .s-box .txt {
    font-size: 18px;
    line-height: 32px;
  }
}

#services .our_service .s-box .img_content {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  #services .our_service .s-box .img_content {
    display: none;
  }
}

#services .our_service .s-box .img_content.left img {
  transform: scaleX(-1);
}

@media (max-width: 767px) {
  #services .our_service .s-box .img_content {
    margin-bottom: 26px;
  }
}

#services .our_service .s-box img {
  width: 280px;
}

#services .service_slider {
  background-color: #f4fbff;
}

#services .service_slider .service_box {
  object-fit: contain;
  height: 440px;
  display: flex;
  align-items: center;
}

#services .service_slider .service_box.img_pro {
  background: url("../img/service/HomePage--MISDAN-1410px.png") right no-repeat;
}

#services .service_slider .service_box.graphics_pro {
  background: url("../img/service/service_2_h.png") right no-repeat;
}

#services .service_slider .service_box.web_pro {
  background: url("../img/service/service_3.png") right no-repeat;
}

#services .service_slider .service_box.video_pro {
  background: url("../img/service/service_4_h.png") right no-repeat;
}

#services .service_slider .service_box.bg_size {
  background-size: 400px;
}

@media (max-width: 1024px) {
  #services .service_slider .service_box.bg_size {
    background-size: 275px;
  }
}

@media (max-width: 575px) {
  #services .service_slider .service_box.bg_size {
    background: none;
  }
}

#services .service_slider .service_box .s-box .title {
  font-size: 36px;
  line-height: 40px;
  color: #073a59;
  font-family: Fira_Bold;
  padding-bottom: 16px;
}

@media (max-width: 576px) {
  #services .service_slider .service_box .s-box .title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 6px;
  }
}

#services .service_slider .service_box .s-box .txt {
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
}

@media (max-width: 768px) {
  #services .service_slider .service_box .s-box .txt {
    font-size: 18px;
    line-height: 24px;
  }
}

#services .service_slider .service_box .s-box .img_content {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  #services .service_slider .service_box .s-box .img_content {
    display: none;
  }
}

#services .service_slider .service_box .s-box .img_content.left img {
  transform: scaleX(-1);
}

@media (max-width: 767px) {
  #services .service_slider .service_box .s-box .img_content {
    margin-bottom: 26px;
  }
}

#services .service_slider .service_box .s-box img {
  width: 280px;
}

#services .slick-dots {
  display: block;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
}

@media (min-width: 320px) and (max-width: 480px) {
  #services .slick-dots {
    left: -2%;
  }
}

#services .slick-dots li {
  margin: 10px 0px;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#client .container .client_boxs {
  margin: 60px 0px;
  overflow: visible !important;
}

#client .container .client_boxs .cmnt_box {
  position: relative;
  background-color: #fdf9ed;
  border-radius: 25px;
  padding: 70px 10px;
  margin: auto;
  margin: 0px 20px;
  overflow: visible;
}

#client .container .client_boxs .cmnt_box .name-rating .name {
  font-size: 18px;
  line-height: 30px;
  color: #073a59;
  margin-bottom: 0px;
}

#client .container .client_boxs .cmnt_box .name-rating .date {
  font-size: 16px;
  line-height: 30px;
  color: #073a59;
}

#client .container .client_boxs .cmnt_box .name-rating .star {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 5px;
}

#client .container .client_boxs .cmnt_box .client_feed {
  font-size: 16px;
  line-height: 24px;
  color: #073a59;
}

#client .container .client_boxs .cmnt_box .read-more {
  color: #073a59;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

#client .container .client_boxs .comment_icon {
  position: absolute;
  top: 10px;
  overflow: visible;
  left: 10%;
}

@media (max-width: 575px) {
  #client .container .client_boxs .comment_icon {
    left: 10%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #client .container .client_boxs .comment_icon {
    left: 18%;
  }
}

#client .slick-dots {
  top: 350px;
}

@media (max-width: 1200px) {
  #client .slick-dots {
    top: 380px;
  }
}

@media (max-width: 412px) {
  #client .slick-dots {
    top: 410px;
  }
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#work {
  background-color: #fbfbfb;
}

#work .container .work_process {
  padding: 50px 0px;
}

#work .container .work_process .title {
  font-size: 36px;
  line-height: 40px;
  font-family: Fira_Medium;
  padding: 12px 0px;
  color: #073a59;
  text-transform: capitalize;
}

@media (max-width: 1400px) {
  #work .container .work_process .title {
    font-size: 30px;
    line-height: 40px;
  }
}

#work .container .work_process .brief {
  font-size: 16px;
  line-height: 20px;
  color: #073a59;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#request {
  background-color: #cfae2c;
  color: #fff;
  padding: 60px 0px;
}

#request .container .req_title {
  font-size: 30px;
  line-height: 34px;
  font-family: Fira_Bold;
  padding-bottom: 10px;
  color: #fff;
}

@media (max-width: 576px) {
  #request .container .req_title {
    font-size: 18px;
    line-height: 22px;
  }
}

#request .container .req_txt {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 15px;
  color: #fff;
}

@media (max-width: 576px) {
  #request .container .req_txt {
    font-size: 18px;
    line-height: 22px;
  }
}

#request .container .misBtn {
  background: #fff;
  color: #cfae2c;
  text-transform: uppercase;
  font-family: Fira_semi_bold;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#quote form textarea {
  border: 1px solid #ddd;
}

#quote .box {
  border: 2px dashed #073a59;
}

#quote .box .upload_title {
  font-size: 36px;
  line-height: 40px;
  font-family: Fira_semi_bold;
}

#quote .box .sub_title {
  font-size: 24px;
  line-height: 36px;
  font-family: Fira_Medium;
}

#quote .box .sub_title .max {
  color: #2997d4;
}

#quote .box .misBtn {
  width: 150px;
  background: #0d496d;
  background: linear-gradient(90deg, #0d496d 0%, #268fca 100%);
  text-transform: uppercase;
  font-family: Fira_semi_bold;
}

#quote .misBtn {
  width: 180px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Fira_semi_bold;
  background: #d2b32d;
  background: linear-gradient(90deg, #d2b32d 0%, #f2e933 100%);
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
.counter_inner {
  justify-content: center;
}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  color: #fff;
}

.counter-box i {
  font-size: 30px;
}

.counter-box .count {
  padding: 8px 0px;
}

.counter-box .count span {
  font-size: 48px;
  font-family: Fira_Bold;
}

.counter-box .counter_title {
  font-size: 22px !important;
  font-family: Fira_Medium;
  text-transform: capitalize;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
#price .container .price_container .col-8 {
  padding: 0 !important;
  padding-right: 4px !important;
}

#price .container .price_container .col-4 {
  margin: 0 !important;
  padding: 0 !important;
}

#price .container .price_container .top_head:first-child .service_title, #price .container .price_container .top_head:first-child .price_title {
  background-color: #073a59 !important;
  padding: 22px 0px;
}

#price .container .price_container .top_head:first-child .service_title .title, #price .container .price_container .top_head:first-child .price_title .title {
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  font-family: Fira_Medium;
  margin: 0;
}

#price .container .price_container .top_head:first-child .price_title {
  background-color: #d4b62d !important;
}

#price .container .price_container .top_head:first-child .price_title .title {
  color: #010101;
}

#price .container .price_container .top_head:nth-child(even) .service_title, #price .container .price_container .top_head:nth-child(even) .top_head:first-child .price_title, #price .container .price_container .top_head:first-child .top_head:nth-child(even) .price_title, #price .container .price_container .top_head:nth-child(even) .price_title {
  background-color: #f0f0f0;
  padding: 22px 0px;
}

#price .container .price_container .top_head:nth-child(even) .service_title .title, #price .container .price_container .top_head:nth-child(even) .price_title .title {
  color: #010101;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

@media (max-width: 576px) {
  #price .container .price_container .top_head:nth-child(even) .service_title .title, #price .container .price_container .top_head:nth-child(even) .price_title .title {
    font-size: 18px;
  }
}

#price .container .price_container .top_head:nth-child(even) .price_title {
  background-color: #f0f0f0;
}

#price .container .price_container .top_head:nth-child(odd) .service_title, #price .container .price_container .top_head:nth-child(odd) .top_head:first-child .price_title, #price .container .price_container .top_head:first-child .top_head:nth-child(odd) .price_title, #price .container .price_container .top_head:nth-child(odd) .price_title {
  background-color: #c6c6c6;
  padding: 22px 0px;
}

#price .container .price_container .top_head:nth-child(odd) .service_title .title, #price .container .price_container .top_head:nth-child(odd) .price_title .title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

@media (max-width: 576px) {
  #price .container .price_container .top_head:nth-child(odd) .service_title .title, #price .container .price_container .top_head:nth-child(odd) .price_title .title {
    font-size: 16px;
  }
}

#price .container .price_container .top_head:nth-child(odd) .price_title {
  background-color: #c6c6c6;
}

#price .container .price_container .top_head:nth-child(odd) .price_title .title {
  color: #010101;
}

#price .container .NB .text {
  font-size: 30px;
  color: #010101;
  margin: 0;
  padding: 0px 15px;
}

@media (max-width: 576px) {
  #price .container .NB .text {
    font-size: 18px;
  }
}

#price .container #log_sign {
  justify-content: center;
  margin-top: 24px;
}

#price .container #log_sign li {
  margin: auto 20px;
}

#price .container #log_sign li a .misBtn {
  background: #d2b32d;
  background: linear-gradient(90deg, #d2b32d 0%, #f2e933 100%);
  text-transform: uppercase;
  font-family: Fira_semi_bold;
}

#price .container #log_sign li a .misBtn:hover {
  background: #fff;
  color: #d4b62d;
}

@media (max-width: 480px) {
  #price .misBtn {
    font-size: 9px;
    line-height: 12px;
  }
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
footer {
  background: url("../img/footer/footer_bg.png") center center/cover no-repeat;
  position: relative;
  color: #fff;
  z-index: 1;
  padding-top: 95px;
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #073857c0;
  z-index: -1;
}

footer .container .top {
  padding-bottom: 12px;
}

footer .container .top .col-6:nth-child(2) {
  padding-left: 35px;
}

footer .container .top .brand_logo {
  margin: 30px 0px;
}

footer .container .top .location_info {
  margin-bottom: 28px;
}

footer .container .top .location_info .txt {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: capitalize;
  margin: 8px 0px;
}

@media (max-width: 576px) {
  footer .container .top .location_info .txt {
    font-size: 14px;
    line-height: 18px;
  }
}

footer .container .top .socialIcon {
  display: flex;
  align-items: center;
  flex: 2;
}

@media (max-width: 767px) {
  footer .container .top .socialIcon {
    margin-bottom: 10px;
  }
}

footer .container .top .socialIcon li {
  margin: 0px 8px;
}

footer .container .top .socialIcon li:first-child {
  margin-left: 0px;
}

footer .container .top .socialIcon li a i {
  color: #fff;
  font-size: 24px;
}

footer .container .top .head .title {
  font-size: 18px;
  line-height: 24px;
  font-family: Fira_Bold;
}

footer .container .top .head li a {
  color: #fff;
}

footer .container .top .head li a:hover {
  text-decoration: underline;
}

footer .container .top .head .payment_system {
  display: flex;
}

footer .container .top .head .payment_system li {
  margin: 0px 8px;
}

footer .container .top .head .payment_system li:first-child {
  margin-left: 0px;
}

footer .container .top .head .input_grp input {
  padding: 5px 10px;
  margin: 5px 0px;
  background: transparent;
  border: 1px solid #ddd;
}

@media (max-width: 576px) {
  footer .container .top .head .input_grp input {
    width: 170px;
  }
}

footer .container .top .head .input_grp input::placeholder {
  color: #fff;
}

footer .container .top .head .input_grp input#email {
  margin-bottom: 12px;
}

footer .container .bottom {
  border-top: 1px solid #ddd;
  padding: 16px;
}

@media (max-width: 480px) {
  footer .container .bottom {
    padding: 8px;
  }
}

footer .container .bottom .policy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0px !important;
}

@media (max-width: 767px) {
  footer .container .bottom .policy {
    justify-content: center;
  }
}

footer .container .bottom .policy li {
  margin: 0px 12px;
}

@media (max-width: 480px) {
  footer .container .bottom .policy li {
    margin: 0px 6px;
  }
}

footer .container .bottom .policy li:first-child {
  margin-left: 0px;
}

footer .container .bottom .policy li a {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 480px) {
  footer .container .bottom .policy li a {
    font-size: 12px;
    line-height: 16px;
  }
}

footer .container .bottom .policy li a:hover {
  text-decoration: underline;
}

/* === For Small Device ( 0px - 767px) == */
/* === For Extra small Device ( 320px - 575px) == */
/* === For Medium Device ( 768px - 1023px) == */
/* === For Large Device ( 1024px - 1200px) == */
/*# sourceMappingURL=style.css.map */